﻿@{
    ViewBag.Title = "AngularDirective";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* change Wijmo widgets font to match bootstrap */
    .ui-widget {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
    /* use auto-width for Wijmo menu items */
    .wijmo-wijmenu .wijmo-wijmenu-parent .wijmo-wijmenu-child {
        width: auto;
        min-width: 150px;
    }
    /* custom back color for Wijmo tooltips*/
    .wijmo-wijtooltip {
        background-color: #fff9d1;
    }
</style>
<link type="text/css" href="http://cdn.wijmo.com/themes/metro/jquery-wijmo.css" rel="stylesheet" />
<link type="text/css" href="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.3.1.min.css" rel="stylesheet" />

<h2>Angular Directive</h2>

@*<div ng-app ng-init="msg='hello world'">
        <input ng-model="msg" />
        <p>{{msg}}</p>
    </div>*@

@*<div ng-app="myApp" ng-controller="myCtrl">
        <input ng-model="msg" />
        <p my-dctv>
            {{ msg | myUpperFilter }}
        </p>
    </div>*@


@*<div ng-app="app" ng-controller="appCtrl">

    <h3>Google Maps</h3>

    <!-- search/go to current location -->
    <div class="text-right">
        <div class="input-append text-right">
            <input type="text" ng-model="search" />
            <button class="btn" type="button" ng-click="geoCode()" ng-disabled="search.length == 0" title="search">
                &nbsp;<i class="icon-search"></i>
            </button>
            <button class="btn" type="button" ng-click="gotoCurrentLocation()" title="current location">
                &nbsp;<i class="icon-home"></i>
            </button>
        </div>
    </div>

    <!-- map -->
    <app-map style="height:400px;margin:12px;box-shadow:0 3px 25px black;"
             center="loc"
             markers="airports">
    </app-map>

    <!-- current location -->
    <div class="text-info text-right">
        {{loc.lat | lat:0}}, {{loc.lon | lon:0}}
    </div>

    <!-- list of airports -->
    <div class="container-fluid">
        <div class="span3 btn"
             ng-repeat="a in airports"
             ng-click="gotoLocation(a.lat, a.lon)">
            <b>{{a.code}}</b>: {{a.name}}
        </div>
    </div>
</div>*@


@*<div ng-app="app" ng-controller="appCtrl">

    <h3>Wijmo Line Chart</h3>

    <p>This chart directive includes a linear regression with {{data.length}} points:</p>

    <app-chart data="data" x="x" y="y"
               reg-parms="reg"
               color="blue">
    </app-chart>

    <p>
        The linear regression equation is:
        <b>
            Y =
            {{reg.a | number:2}}
            <span ng-show="reg.b >= 0"> + </span>
            <span ng-show="reg.b < 0"> - </span>
            {{Math.abs(reg.b) | number:2}} * X
        </b>
    </p>
    <p>
        The coefficient of determination is:
        <b>
            r<sup>2</sup> =
            {{reg.r2 | number:2}}
        </b>
    </p>

    <button ng-click="generateData()">Randomize Data</button>

</div>*@

<!-- required to use Google maps -->

@section scripts
{
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

    
    <!--jQuery References-->
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20132.15.min.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20132.15.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20132.15.min.js" type="text/javascript"></script>

    <script>

        var app = angular.module("app", []);

        app.controller("appCtrl", function ($scope) {

            // generate the data
            $scope.generateData = function () {

                // generate some random points
                $scope.data = [];
                var a = Math.random() * 10 - 5;
                var b = Math.random() * 10 - 5;
                for (var i = 0; i < 250; i++) {
                    var x = Math.random() * 100;
                    var y = a + b * x;
                    for (var j = 0; j < 10; j++)
                        y += Math.random() * 40 - 20;
                    $scope.data.push({ x: x, y: y });
                }

                // compute linear regression
                $scope.reg = linReg($scope.data, "x", "y");
            };

            // initialize the data
            $scope.generateData();

            // allow expressions to use javaScript Math functions
            $scope.Math = window.Math;

            // calculates a linear regression on the values provided
            function linReg(data, xProp, yProp) {

                // compute sums and sums of squares
                var n = 0, sx = 0, sy = 0, sxx = 0, syy = 0, sxy = 0;
                for (var i = 0; i < data.length; i++) {
                    var x = data[i][xProp];
                    var y = data[i][yProp];
                    n++;
                    sx += x;
                    sy += y;
                    sxx += x * x;
                    syy += y * y;
                    sxy += x * y;
                }

                // return regression coefficients and r2
                var b = (n * sxy - sx * sy) / (n * sxx - sx * sx);
                var a = sy / n - sx / n * b;
                var r2 = (n * sxy - sx * sy) * (n * sxy - sx * sy) / ((n * sxx - sx * sx) * (n * syy - sy * sy));
                return { a: a, b: b, r2: r2 };
            }
        });

        app.directive("appChart", function (appUtil) {
            return {
                restrict: "E",
                replace: true,
                scope: {
                    data: "=",      // array that contains the data for the chart.
                    x: "@@",         // property that contains the X values.
                    y: "@@",         // property that contains the Y values.
                    regParms: "=",  // regression parameters (a and b coefficients)
                    color: "@@"      // color for the data series.
                },
                template:
                    "<div></div>",
                link: function (scope, element, attrs) {

                    // watch for changes in the scope variables
                    appUtil.watchScope(scope, ["x", "y", "color"], updateChartControl, true, true);

                    // update chart data when data changes
                    scope.$watch("data", updateChartData);

                    // create/update the chart control
                    function updateChartControl(prop, val) {

                        // use element font in the chart
                        var fontFamily = element.css("fontFamily");
                        var fontSize = element.css("fontSize");
                        var textStyle = { "font-family": fontFamily, "font-size": fontSize, "font-weight": "normal", fill: "black" };

                        // set default values
                        var color = scope.color ? scope.color : "red";

                        // build options
                        var options = {
                            seriesStyles: [
                                { stroke: color, "stroke-width": 0 },
                                { stroke: "black", "stroke-width": 1, "stroke-opacity": .5 }
                            ],
                            seriesHoverStyles: [
                                { stroke: color, "stroke-width": 0 },
                                { stroke: "black", "stroke-width": 2, "stroke-opacity": 1 }
                            ],
                            legend: { visible: false },
                            showChartLabels: false,
                            animation: { enabled: false },
                            seriesTransition: { enabled: false },
                            axis: {
                                x: { labels: { style: textStyle }, annoFormatString: "n0" },
                                y: { labels: { style: textStyle }, annoFormatString: "n0" }
                            },
                            textStyle: textStyle
                        };

                        // create the chart
                        element.wijlinechart(options);

                        // go update the chart data
                        updateChartData();
                    }

                    // update the data in the control
                    function updateChartData() {
                        if (element.data().wijlinechart && scope.data) {
                            var list = [];

                            // prepare data series
                            var data = scope.data;
                            var xmin = data[0][scope.x];
                            var xmax = data[0][scope.x];
                            if (data && scope.x && scope.y) {
                                var ds = {
                                    label: "Data Series",
                                    data: { x: [], y: [] },
                                    markers: { visible: true, type: "circle" }
                                };
                                for (var i = 0; i < data.length; i++) {
                                    ds.data.x.push(data[i][scope.x]);
                                    ds.data.y.push(data[i][scope.y]);
                                    xmin = Math.min(xmin, data[i][scope.x]);
                                    xmax = Math.max(xmax, data[i][scope.x]);
                                }
                                list.push(ds);
                            }

                            // prepare regression series
                            if (scope.regParms) {
                                var a = scope.regParms.a;
                                var b = scope.regParms.b;
                                var ds = {
                                    label: "Regression",
                                    data: {
                                        x: [xmin, xmax],
                                        y: [a + b * xmin, a + b * xmax],
                                        markerType: "none"
                                    }
                                };
                                list.push(ds);
                            }

                            // show the new series list
                            element.wijlinechart({ seriesList: list });
                        }
                    }
                }
            }
        });

        // utilities shared by all directives
        app.factory("appUtil", function () {
            return {

                // watch for changes in scope variables, call update function when all have been initialized
                watchScope: function (scope, props, updateFn, updateOnTimer, updateOnResize) {

                    // watch all variables in the props array, keep count of changes and start
                    // calling the update function fn only after all variables have been initialized.
                    var cnt = props.length;
                    angular.forEach(props, function (prop) {
                        scope.$watch(prop, function (value) {

                            // decrement count; when this reaches zero, all scope variables are initialized
                            cnt--;

                            // call update function when count reaches zero (all properties have been initialized)
                            // or when the count is negative and the value is non-null.
                            if (cnt == 0 || (cnt < 0 && value)) {
                                console.log(prop + " changing to " + value);
                                if (updateOnTimer) {
                                    if (scope.updateTimeout) clearTimeout(scope.updateTimeout);
                                    scope.updateTimeout = setTimeout(updateFn, 50);
                                } else {
                                    updateFn(prop, value);
                                }
                            }
                        })
                    });

                    // call update function when user resizes the window 
                    // so the control can resize itself if it wants to.
                    if (updateOnResize) {
                        $(window).resize(function () {
                            if (scope.resizeTimeout) clearTimeout(scope.resizeTimeout);
                            scope.resizeTimeout = setTimeout(updateFn, 100);
                        })
                    }
                }
            }
        });

        //var app = angular.module("app", []);

        //app.controller("appCtrl", function ($scope) {

        //    // current location
        //    $scope.loc = { lat: 40, lon: -73 };
        //    $scope.gotoCurrentLocation = function () {
        //        if ("geolocation" in navigator) {
        //            navigator.geolocation.getCurrentPosition(function (position) {
        //                var c = position.coords;
        //                $scope.gotoLocation(c.latitude, c.longitude);
        //            });
        //            return true;
        //        }
        //        return false;
        //    };
        //    $scope.gotoLocation = function (lat, lon) {
        //        if ($scope.lat != lat || $scope.lon != lon) {
        //            $scope.loc = { lat: lat, lon: lon };
        //            if (!$scope.$$phase) $scope.$apply("loc");
        //        }
        //    };

        //    // geo-coding
        //    $scope.search = "";
        //    $scope.geoCode = function () {
        //        if ($scope.search && $scope.search.length > 0) {
        //            if (!this.geocoder) this.geocoder = new google.maps.Geocoder();
        //            this.geocoder.geocode({ 'address': $scope.search }, function (results, status) {
        //                if (status == google.maps.GeocoderStatus.OK) {
        //                    var loc = results[0].geometry.location;
        //                    $scope.search = results[0].formatted_address;
        //                    $scope.gotoLocation(loc.lat(), loc.lng());
        //                } else {
        //                    alert("Sorry, this search produced no results.");
        //                }
        //            });S
        //        }
        //    };

        //    // some points of interest to show on the map
        //    // to be user as markers, objects should have "lat", "lon", and "name" properties
        //    $scope.airports = [
        //        { "name": "Hartsfield Jackson Atlanta", "code": "ATL", "city": "Atlanta", "state": "GA", "lat": 33.64, "lon": -84.444, "vol2011": 44414121 },
        //        { "name": "O'Hare", "code": "ORD", "city": "Chicago", "state": "IL", "lat": 41.9794, "lon": -87.9044, "vol2011": 31892301 },
        //        { "name": "Los Angeles", "code": "LAX", "city": "Los Angeles", "state": "CA", "lat": 33.9425, "lon": -118.4081, "vol2011": 30528737 },
        //        { "name": "Dallas/Fort Worth", "code": "DFW", "city": "Dallas/Fort Worth", "state": "TX", "lat": 32.8974, "lon": -97.0407, "vol2011": 27518358 },
        //        { "name": "Denver", "code": "DEN", "city": "Denver", "state": "CO", "lat": 39.8631, "lon": -104.6736, "vol2011": 25667499 },
        //        { "name": "ATR @@ 60180850", "code": "JFK", "city": "60180850", "state": "NY", "lat": 40.6438, "lon": -73.782, "vol2011": 23664830 },
        //        { "name": "San Francisco", "code": "SFO", "city": "San Francisco", "state": "CA", "lat": 37.6152, "lon": -122.39, "vol2011": 20038679 },
        //        { "name": "McCarran", "code": "LAS", "city": "Las Vegas", "state": "NV", "lat": 36.085, "lon": -115.1511, "vol2011": 19854759 },
        //        { "name": "Phoenix Sky Harbor", "code": "PHX", "city": "Phoenix", "state": "AZ", "lat": 33.4365, "lon": -112.0073, "vol2011": 19750306 },
        //        { "name": "George Bush", "code": "IAH", "city": "Houston", "state": "TX", "lat": 29.9867, "lon": -95.3381, "vol2011": 19306660 },
        //    ];
        //});

        //// formats a number as a latitude (e.g. 40.46... => "40°27'44"N")
        //app.filter('lat', function () {
        //    return function (input, decimals) {
        //        if (!decimals) decimals = 0;
        //        input = input * 1;
        //        var ns = input > 0 ? "N" : "S";
        //        input = Math.abs(input);
        //        var deg = Math.floor(input);
        //        var min = Math.floor((input - deg) * 60);
        //        var sec = ((input - deg - min / 60) * 3600).toFixed(decimals);
        //        return deg + "°" + min + "'" + sec + '"' + ns;
        //    }
        //});

        //// formats a number as a longitude (e.g. -80.02... => "80°1'24"W")
        //app.filter('lon', function () {
        //    return function (input, decimals) {
        //        if (!decimals) decimals = 0;
        //        input = input * 1;
        //        var ew = input > 0 ? "E" : "W";
        //        input = Math.abs(input);
        //        var deg = Math.floor(input);
        //        var min = Math.floor((input - deg) * 60);
        //        var sec = ((input - deg - min / 60) * 3600).toFixed(decimals);
        //        return deg + "°" + min + "'" + sec + '"' + ew;
        //    }
        //});

        //// - Documentation: https://developers.google.com/maps/documentation/
        //app.directive("appMap", function () {
        //    return {
        //        restrict: "E",
        //        replace: true,
        //        template: "<div></div>",
        //        scope: {
        //            center: "=",        // Center point on the map (e.g. <code>{ latitude: 10, longitude: 10 }</code>).
        //            markers: "=",       // Array of map markers (e.g. <code>[{ lat: 10, lon: 10, name: "hello" }]</code>).
        //            width: "@@",         // Map width in pixels.
        //            height: "@@",        // Map height in pixels.
        //            zoom: "@@",          // Zoom level (one is totally zoomed out, 25 is very much zoomed in).
        //            mapTypeId: "@@",     // Type of tile to show on the map (roadmap, satellite, hybrid, terrain).
        //            panControl: "@@",    // Whether to show a pan control on the map.
        //            zoomControl: "@@",   // Whether to show a zoom control on the map.
        //            scaleControl: "@@"   // Whether to show scale control on the map.
        //        },
        //        link: function (scope, element, attrs) {
        //            var toResize, toCenter;
        //            var map;
        //            var currentMarkers;

        //            // listen to changes in scope variables and update the control
        //            var arr = ["width", "height", "markers", "mapTypeId", "panControl", "zoomControl", "scaleControl"];
        //            for (var i = 0, cnt = arr.length; i < arr.length; i++) {
        //                scope.$watch(arr[i], function () {
        //                    cnt--;
        //                    if (cnt <= 0) {
        //                        updateControl();
        //                    }
        //                });
        //            }

        //            // update zoom and center without re-creating the map
        //            scope.$watch("zoom", function () {
        //                if (map && scope.zoom)
        //                    map.setZoom(scope.zoom * 1);
        //            });
        //            scope.$watch("center", function () {
        //                if (map && scope.center)
        //                    map.setCenter(getLocation(scope.center));
        //            });

        //            // update the control
        //            function updateControl() {

        //                // update size
        //                if (scope.width) element.width(scope.width);
        //                if (scope.height) element.height(scope.height);

        //                // get map options
        //                var options =
        //                {
        //                    center: new google.maps.LatLng(40, -73),
        //                    zoom: 6,
        //                    mapTypeId: "roadmap"
        //                };
        //                if (scope.center) options.center = getLocation(scope.center);
        //                if (scope.zoom) options.zoom = scope.zoom * 1;
        //                if (scope.mapTypeId) options.mapTypeId = scope.mapTypeId;
        //                if (scope.panControl) options.panControl = scope.panControl;
        //                if (scope.zoomControl) options.zoomControl = scope.zoomControl;
        //                if (scope.scaleControl) options.scaleControl = scope.scaleControl;

        //                // create the map
        //                map = new google.maps.Map(element[0], options);

        //                // update markers
        //                updateMarkers();

        //                // listen to changes in the center property and update the scope
        //                google.maps.event.addListener(map, 'center_changed', function () {

        //                    // do not update while the user pans or zooms
        //                    if (toCenter) clearTimeout(toCenter);
        //                    toCenter = setTimeout(function () {
        //                        if (scope.center) {

        //                            // check if the center has really changed
        //                            if (map.center.lat() != scope.center.lat ||
        //                                map.center.lng() != scope.center.lon) {

        //                                // update the scope and apply the change
        //                                scope.center = { lat: map.center.lat(), lon: map.center.lng() };
        //                                if (!scope.$$phase) scope.$apply("center");
        //                            }
        //                        }
        //                    }, 500);
        //                });
        //            }

        //            // update map markers to match scope marker collection
        //            function updateMarkers() {
        //                if (map && scope.markers) {

        //                    // clear old markers
        //                    if (currentMarkers != null) {
        //                        for (var i = 0; i < currentMarkers.length; i++) {
        //                            currentMarkers[i] = m.setMap(null);
        //                        }
        //                    }

        //                    // create new markers
        //                    currentMarkers = [];
        //                    var markers = scope.markers;
        //                    if (angular.isString(markers)) markers = scope.$eval(scope.markers);
        //                    for (var i = 0; i < markers.length; i++) {
        //                        var m = markers[i];
        //                        var loc = new google.maps.LatLng(m.lat, m.lon);
        //                        var mm = new google.maps.Marker({ position: loc, map: map, title: m.name });
        //                        currentMarkers.push(mm);
        //                    }
        //                }
        //            }

        //            // convert current location to Google maps location
        //            function getLocation(loc) {
        //                if (loc == null) return new google.maps.LatLng(40, -73);
        //                if (angular.isString(loc)) loc = scope.$eval(loc);
        //                return new google.maps.LatLng(loc.lat, loc.lon);
        //            }
        //        }
        //    };
        //});
        


        //var myApp = angular.module("myApp", []);
        //myApp.controller("myCtrl", function ($scope) {
        //    $scope.msg = "hello world";
        //});

        //myApp.filter("myUpperFilter", function () {
        //    return function (input) {
        //        return input.toUpperCase();
        //    }
        //});



        //myApp.directive("myDctv", function () {
        //    return function (scope, element, attrs) {
        //        element.bind("mouseenter", function () {
        //            element.css("background", "yellow");
        //        });
        //        element.bind("mouseleave", function () {
        //            element.css("background", "none");
        //        });
        //    }
        //});
    </script>
}
