﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bootstrap Upload</h2>

@Styles.Render("~/Content/xphotoupload")
<div class="row">
    <xphotoupload id="xup1" data-multiple-upload="true"
                  data-upload-url="@Url.Action("Upload")"
                  data-flash-url="@Url.Content("~/Scripts/plupload/Moxie.swf")"
                  data-filter-extension="jpg,jpeg,png,gif"
                  data-show-preview="true"
                  data-size-limit="10mb"
                  data-chunk-size="1mb"
                  data-auto-upload="false"
                  data-auto-upload-clear-last-upload="false"
                  data-show-console="true" />
</div>
<div class="row">
    <xphotoupload id="xup2" data-multiple-upload="true"
                  data-upload-url="@Url.Action("Upload")"
                  data-flash-url="@Url.Content("~/Scripts/plupload/Moxie.swf")"
                  data-filter-extension="jpg,jpeg,png,gif"
                  data-show-preview="true"
                  data-size-limit="10mb"
                  data-chunk-size="1mb"
                  data-auto-upload="true"
                  data-auto-upload-clear-last-upload="true"
                  data-show-console="true" />
</div>
@section scripts {

    @Scripts.Render("~/bundles/plupload")
    @Scripts.Render("~/bundles/kendocore")
    @Scripts.Render("~/bundles/XPhotoUpload")
    <script>
        var xup1 = new XPhotoUpload('xphotoupload#xup1');
        var xup2 = new XPhotoUpload('xphotoupload#xup2');
    </script>
}