﻿<table id="tbupload" class="table table-hover">
    <thead>
        <tr>
            <th class="no-html5">Photo</th>
            <th>File Name</th>
            <th>File Size</th>
            <th class="no-html5">Dimension</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="6"></td>
        </tr>
        <tr>
            <td colspan="6">
                <div>
                    <ul>
                        <li>total file upload:<span id="nofile" style="margin-right: 10px; padding-left: 5px">0</span></li>
                        <li>total file size:<span id="filesize" style="margin-right: 10px; padding-left: 5px">0 mb</span></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody id="trUpImgDisplay"></tbody>
</table>
<div id="container">
    <input type="button" class="btn-default" id="btnSelect" value="Select..." />
    <input type="button" class="btn-primary" id="btnUpload" value="Upload" />
    <input type="button" class="btn-warning" id="btnClear" value="Clear" />
</div>
<div id="console"></div>

