﻿@*<tr ng-repeat="uploadFile in UploadFiles" upload-file-html5="uploadFile"  id="{{uploadFile.id}}">*@
<tr id="{{uploadFile.id}}">
    <td style="text-align: justify;"><p><img src="{{uploadFile.fileurl}}" class="upload-thumbnail"></p></td>'
    <td style="text-align: justify;"><p>{{ uploadFile.name }}</p></td>
    <td><p>{{ uploadFile.size }}</p></td>
    <td><p>{{ uploadFile.height }} x {{ uploadFile.width }} px. </p></td>
    <td><div style="border: 0px solid rgb(111, 125, 233); margin-top: 6px;width:50px; height: 20px;"><div id="progress" style="height: 20px; width: 0px; background-color: limegreen;" /></div></td>
    <td><p> <a href="javascript:void(0)" class="del" ng-click="uploadFileRemove()">remove</a></p></td>
</tr>